*{
    margin: 0;
    padding: 0;
}
body {
	
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0;
}


header{
    background-color: black;
    color: blanchedalmond;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 400px;
	width: 300px;
}

.result img {
	object-fit: cover;
	height: 100%;
	width: 100%;
    align-items: center;
}

.buttons{
    display: flex;
  justify-content: center;
  align-items: center;
     
     
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    box-shadow:crimson;
    
}